@font-face {
  font-family: "lisafont"; /* Project id 2653620 */
  src: url('//at.alicdn.com/t/font_2653620_3tvsoionbso.woff2?t=1625538513250') format('woff2'),
       url('//at.alicdn.com/t/font_2653620_3tvsoionbso.woff?t=1625538513250') format('woff'),
       url('//at.alicdn.com/t/font_2653620_3tvsoionbso.ttf?t=1625538513250') format('truetype');
}

.lisafont {
  font-family: "lisafont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lisa-reload:before {
  content: "\e788";
}

.lisa-setting:before {
  content: "\e78e";
}

.lisa-eye:before {
  content: "\e78f";
}

.lisa-edit-square:before {
  content: "\e791";
}

.lisa-user:before {
  content: "\e7ae";
}

.lisa-team:before {
  content: "\e7af";
}

.lisa-delete:before {
  content: "\e7c3";
}

.lisa-home:before {
  content: "\e7c6";
}

.lisa-folder:before {
  content: "\e7d1";
}

.lisa-cloud-upload:before {
  content: "\e7d9";
}

.lisa-cloud-download:before {
  content: "\e7da";
}

.lisa-image:before {
  content: "\e7de";
}

.lisa-link:before {
  content: "\e7e2";
}

.lisa-pushpin:before {
  content: "\e7e3";
}

.lisa-tag:before {
  content: "\e7e4";
}

.lisa-share:before {
  content: "\e7e7";
}

.lisa-right:before {
  content: "\e7f0";
}

.lisa-left:before {
  content: "\e7f1";
}

.lisa-up:before {
  content: "\e7eb";
}

.lisa-down:before {
  content: "\e7ec";
}

.lisa-fullscreen:before {
  content: "\e7ed";
}

.lisa-fullscreen-exit:before {
  content: "\e7ee";
}

.lisa-download:before {
  content: "\e7ef";
}

.lisa-indent:before {
  content: "\e7f3";
}

.lisa-outdent:before {
  content: "\e7f4";
}

.lisa-close:before {
  content: "\e7fc";
}

.lisa-zoomout:before {
  content: "\e897";
}

.lisa-zoomin:before {
  content: "\e898";
}

.lisa-caret-down:before {
  content: "\e8ec";
}

.lisa-caret-up:before {
  content: "\e8ed";
}

.lisa-caret-right:before {
  content: "\e8ee";
}

.lisa-caret-left:before {
  content: "\e8ef";
}

.lisa-search:before {
  content: "\e8f0";
}

.lisa-rotate-left:before {
  content: "\e901";
}

.lisa-rotate-right:before {
  content: "\e902";
}

.lisa-dian:before {
  content: "\e605";
}
